SafeVault/bin/Debug/net9.0/appsettings.Development.json
SafeVault/bin/Debug/net9.0/appsettings.json
SafeVault/bin/Debug/net9.0/Azure.Core.dll
SafeVault/bin/Debug/net9.0/Azure.Identity.dll
SafeVault/bin/Debug/net9.0/Humanizer.dll
SafeVault/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
SafeVault/bin/Debug/net9.0/Microsoft.Build.Locator.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
SafeVault/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
SafeVault/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
SafeVault/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
SafeVault/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
SafeVault/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
SafeVault/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
SafeVault/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
SafeVault/bin/Debug/net9.0/Microsoft.Identity.Client.dll
SafeVault/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SafeVault/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
SafeVault/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
SafeVault/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
SafeVault/bin/Debug/net9.0/Mono.TextTemplating.dll
SafeVault/bin/Debug/net9.0/SafeVault
SafeVault/bin/Debug/net9.0/SafeVault.deps.json
SafeVault/bin/Debug/net9.0/SafeVault.dll
SafeVault/bin/Debug/net9.0/SafeVault.pdb
SafeVault/bin/Debug/net9.0/SafeVault.runtimeconfig.json
SafeVault/bin/Debug/net9.0/SafeVault.staticwebassets.endpoints.json
SafeVault/bin/Debug/net9.0/SafeVault.staticwebassets.runtime.json
SafeVault/bin/Debug/net9.0/System.ClientModel.dll
SafeVault/bin/Debug/net9.0/System.CodeDom.dll
SafeVault/bin/Debug/net9.0/System.Composition.AttributedModel.dll
SafeVault/bin/Debug/net9.0/System.Composition.Convention.dll
SafeVault/bin/Debug/net9.0/System.Composition.Hosting.dll
SafeVault/bin/Debug/net9.0/System.Composition.Runtime.dll
SafeVault/bin/Debug/net9.0/System.Composition.TypedParts.dll
SafeVault/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
SafeVault/bin/Debug/net9.0/System.Drawing.Common.dll
SafeVault/bin/Debug/net9.0/System.Formats.Asn1.dll
SafeVault/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
SafeVault/bin/Debug/net9.0/System.Memory.Data.dll
SafeVault/bin/Debug/net9.0/System.Runtime.Caching.dll
SafeVault/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
SafeVault/bin/Debug/net9.0/System.Security.Permissions.dll
SafeVault/bin/Debug/net9.0/System.Text.Json.dll
SafeVault/bin/Debug/net9.0/System.Windows.Extensions.dll
SafeVault/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
SafeVault/bin/Debug/net9.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
SafeVault/bin/Debug/net9.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
SafeVault/bin/Debug/net9.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SafeVault/bin/Debug/net9.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SafeVault/bin/Debug/net9.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SafeVault/bin/Debug/net9.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SafeVault/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
SafeVault/bin/Debug/net9.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
SafeVault/obj/project.assets.json
SafeVault/obj/project.nuget.cache
SafeVault/obj/SafeVault.csproj.nuget.dgspec.json
SafeVault/obj/SafeVault.csproj.nuget.g.props
SafeVault/obj/SafeVault.csproj.nuget.g.targets
SafeVault/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
SafeVault/obj/Debug/net9.0/apphost
SafeVault/obj/Debug/net9.0/SafeVault.AssemblyInfo.cs
SafeVault/obj/Debug/net9.0/SafeVault.AssemblyInfoInputs.cache
SafeVault/obj/Debug/net9.0/SafeVault.assets.cache
SafeVault/obj/Debug/net9.0/SafeVault.csproj.AssemblyReference.cache
SafeVault/obj/Debug/net9.0/SafeVault.csproj.CoreCompileInputs.cache
SafeVault/obj/Debug/net9.0/SafeVault.csproj.FileListAbsolute.txt
SafeVault/obj/Debug/net9.0/SafeVault.csproj.Up2Date
SafeVault/obj/Debug/net9.0/SafeVault.dll
SafeVault/obj/Debug/net9.0/SafeVault.GeneratedMSBuildEditorConfig.editorconfig
SafeVault/obj/Debug/net9.0/SafeVault.genruntimeconfig.cache
SafeVault/obj/Debug/net9.0/SafeVault.GlobalUsings.g.cs
SafeVault/obj/Debug/net9.0/SafeVault.MvcApplicationPartsAssemblyInfo.cache
SafeVault/obj/Debug/net9.0/SafeVault.pdb
SafeVault/obj/Debug/net9.0/SafeVault.RazorAssemblyInfo.cache
SafeVault/obj/Debug/net9.0/SafeVault.RazorAssemblyInfo.cs
SafeVault/obj/Debug/net9.0/staticwebassets.build.endpoints.json
SafeVault/obj/Debug/net9.0/staticwebassets.build.json
SafeVault/obj/Debug/net9.0/staticwebassets.development.json
SafeVault/obj/Debug/net9.0/staticwebassets.pack.json
SafeVault/obj/Debug/net9.0/compressed/0h5bf540y7-muycvpuwrr.gz
SafeVault/obj/Debug/net9.0/compressed/1g3wxu20l0-k8d9w2qqmf.gz
SafeVault/obj/Debug/net9.0/compressed/1loecq9ofy-nvvlpmu67g.gz
SafeVault/obj/Debug/net9.0/compressed/2g7spl186u-b9sayid5wm.gz
SafeVault/obj/Debug/net9.0/compressed/2ksliu1g9q-tdbxkamptv.gz
SafeVault/obj/Debug/net9.0/compressed/2nhe8t6eb9-6pdc2jztkx.gz
SafeVault/obj/Debug/net9.0/compressed/3bphk3k0v9-khv3u5hwcm.gz
SafeVault/obj/Debug/net9.0/compressed/3qjxf1nq2e-ub07r2b239.gz
SafeVault/obj/Debug/net9.0/compressed/3svyhuh5sk-lcd1t2u6c8.gz
SafeVault/obj/Debug/net9.0/compressed/3zlv3h0dg4-ee0r1s7dh0.gz
SafeVault/obj/Debug/net9.0/compressed/5xz5elxpa0-h1s4sie4z3.gz
SafeVault/obj/Debug/net9.0/compressed/6kunewywr3-kbrnm935zg.gz
SafeVault/obj/Debug/net9.0/compressed/6nqnfav6xs-r4e9w2rdcm.gz
SafeVault/obj/Debug/net9.0/compressed/6qk1ljgnjt-j5mq2jizvt.gz
SafeVault/obj/Debug/net9.0/compressed/83gm6kylso-jj8uyg4cgr.gz
SafeVault/obj/Debug/net9.0/compressed/258e9wk1ug-c2oey78nd0.gz
SafeVault/obj/Debug/net9.0/compressed/al3wg7cdg2-vr1egmr9el.gz
SafeVault/obj/Debug/net9.0/compressed/bdega8qyrj-4jpgcfky37.gz
SafeVault/obj/Debug/net9.0/compressed/bh7vi4n9so-y7v9cxd14o.gz
SafeVault/obj/Debug/net9.0/compressed/buq6k3dqkd-63fj8s7r0e.gz
SafeVault/obj/Debug/net9.0/compressed/c062q4h5f2-0j3bgjxly4.gz
SafeVault/obj/Debug/net9.0/compressed/cmo6f032wq-06098lyss8.gz
SafeVault/obj/Debug/net9.0/compressed/dtylne433b-87fc7y1x7t.gz
SafeVault/obj/Debug/net9.0/compressed/e25pslggsa-47otxtyo56.gz
SafeVault/obj/Debug/net9.0/compressed/f0kfe5j3ky-pk9g2wxc8p.gz
SafeVault/obj/Debug/net9.0/compressed/fb9m2ymrws-x0q3zqp4vz.gz
SafeVault/obj/Debug/net9.0/compressed/fqa9q19tsv-xtxxf3hu2r.gz
SafeVault/obj/Debug/net9.0/compressed/gkivutune8-jd9uben2k1.gz
SafeVault/obj/Debug/net9.0/compressed/h1xv08dk0d-b7pk76d08c.gz
SafeVault/obj/Debug/net9.0/compressed/hauooqcqo5-rzd6atqjts.gz
SafeVault/obj/Debug/net9.0/compressed/he8r1jbkd2-mlv21k5csn.gz
SafeVault/obj/Debug/net9.0/compressed/ht5bdknns3-83jwlth58m.gz
SafeVault/obj/Debug/net9.0/compressed/iai8am7fuf-pj5nd1wqec.gz
SafeVault/obj/Debug/net9.0/compressed/ihha65bvx4-fsbi9cje9m.gz
SafeVault/obj/Debug/net9.0/compressed/irwdj1b2b0-c2jlpeoesf.gz
SafeVault/obj/Debug/net9.0/compressed/je0qp780o2-ft3s53vfgj.gz
SafeVault/obj/Debug/net9.0/compressed/jhsbm9gdj6-0i3buxo5is.gz
SafeVault/obj/Debug/net9.0/compressed/klwtqooyla-iovd86k7lj.gz
SafeVault/obj/Debug/net9.0/compressed/krj1s005es-61n19gt1b8.gz
SafeVault/obj/Debug/net9.0/compressed/li6vhensmk-2z0ns9nrw6.gz
SafeVault/obj/Debug/net9.0/compressed/m0qi5hej08-ausgxo2sd3.gz
SafeVault/obj/Debug/net9.0/compressed/m8sdt4ldl6-lzl9nlhx6b.gz
SafeVault/obj/Debug/net9.0/compressed/mcqstdxhjp-aexeepp0ev.gz
SafeVault/obj/Debug/net9.0/compressed/mrfykve7cb-6cfz1n2cew.gz
SafeVault/obj/Debug/net9.0/compressed/o1xbgbx4fv-37tfw0ft22.gz
SafeVault/obj/Debug/net9.0/compressed/o5bfpbgjr4-fvhpjtyr6v.gz
SafeVault/obj/Debug/net9.0/compressed/os4ve6j74w-4v8eqarkd7.gz
SafeVault/obj/Debug/net9.0/compressed/pd1go80w48-s35ty4nyc5.gz
SafeVault/obj/Debug/net9.0/compressed/pekx5qm745-bqjiyaj88i.gz
SafeVault/obj/Debug/net9.0/compressed/pkzxe4dzmv-4jpgcfky37.gz
SafeVault/obj/Debug/net9.0/compressed/rczagu5gu1-erw9l3u2r3.gz
SafeVault/obj/Debug/net9.0/compressed/rf1gi6ocp9-hrwsygsryq.gz
SafeVault/obj/Debug/net9.0/compressed/sbyr4qz41d-o1o13a6vjx.gz
SafeVault/obj/Debug/net9.0/compressed/sq3228ceq3-493y06b0oq.gz
SafeVault/obj/Debug/net9.0/compressed/to1gzn9d0s-cosvhxvwiu.gz
SafeVault/obj/Debug/net9.0/compressed/tw0n98odfh-356vix0kms.gz
SafeVault/obj/Debug/net9.0/compressed/urus2gujhf-46ein0sx1k.gz
SafeVault/obj/Debug/net9.0/compressed/wb1uj9gnac-ttgo8qnofa.gz
SafeVault/obj/Debug/net9.0/compressed/x7r7ea9w1r-d7shbmvgxk.gz
SafeVault/obj/Debug/net9.0/compressed/xb0j20acso-mrlpezrjn3.gz
SafeVault/obj/Debug/net9.0/compressed/xnnq2krjm9-notf2xhcfb.gz
SafeVault/obj/Debug/net9.0/compressed/y5wng8ia4w-v0zj4ognzu.gz
SafeVault/obj/Debug/net9.0/compressed/yj7psj1zgk-ag7o75518u.gz
SafeVault/obj/Debug/net9.0/compressed/ynlmtwrn0c-dxx9fxp4il.gz
SafeVault/obj/Debug/net9.0/ref/SafeVault.dll
SafeVault/obj/Debug/net9.0/refint/SafeVault.dll
SafeVault/obj/Debug/net9.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
SafeVault/obj/Debug/net9.0/scopedcss/bundle/SafeVault.styles.css
SafeVault/obj/Debug/net9.0/scopedcss/projectbundle/SafeVault.bundle.scp.css
SafeVault/obj/Debug/net9.0/staticwebassets/msbuild.build.SafeVault.props
SafeVault/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.SafeVault.props
SafeVault/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.SafeVault.props
SafeVault/obj/Debug/net9.0/staticwebassets/msbuild.SafeVault.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
SafeVault/obj/Debug/net9.0/staticwebassets/msbuild.SafeVault.Microsoft.AspNetCore.StaticWebAssets.props
